{% extends '::App/base.html.twig' %}

{% block title %}Manage scheduled Jobs{% endblock %}

{% block body %}
    <h1>Created Queues Daemons</h1>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>host</th>
            <th>pid</th>
            <th>Born on</th>
            <th>Died on</th>
            <th>Config</th>
        </thead>
    {% for daemon in daemons %}
        <tr>
            <td>{{ daemon.id }}</td>
            <td>{{ daemon.host }}</td>
            <td>{{ daemon.pid }}</td>
            <td>{% if daemon.bornOn %}{{ daemon.bornOn|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if daemon.diedOn %}{{ daemon.diedOn|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{{ dump(daemon.config) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
