{% extends '::App/base.html.twig' %}

{% block title %}All the scheduled Jobs{% endblock %}

{% block body %}
    <h1>Scheduled Jobs in the Queue</h1>
    <p><small><a href="{{ url('queues_test_random') }}">Generate 100 random jobs.</a></small> | <small><a href="{{ url('queues_test_failed') }}">Generate failing jobs.</a></small></p>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Command</th>
            <th>Priority</th>
            <th>Queue</th>
            <th width="10%">Status</th>
            <th width="15%">Dependencies</th>
            <th>Created at</th>
            <th>Execute after time</th>
            <th>Started at</th>
            <th>Closed at</th>
            <th>Exit code</th>
            <th>Retry strategy</th>
        </thead>
    {% for job in jobs %}
        {% set status = '' %}
        {% if 'running' == job.status %}
            {% set status = 'active' %}
        {% endif %}
        {% if 'retried' == job.status %}
            {% set status = 'warning' %}
        {% endif %}
        {% if 'failed' == job.status %}
            {% set status = 'danger' %}
        {% endif %}
        {% if 'finished' == job.status %}
            {% set status = 'success' %}
        {% endif %}
        {% if 'cancelled' == job.status %}
            {% set status = 'danger' %}
        {% endif %}
        {% if 'pending' == job.status %}
            {% set status = 'info' %}
        {% endif %}
        <tr{% if '' != status %} class="{{ status }}"{% endif %}>
            <td id="{{ job.id }}"><a href="{{ path('queues_job', {id: job.id}) }}">{{ job.id }}</a></td>
            <td>
                {{ job.command }}
                {% if job.arguments %}
                    <span class="text-muted">{{ job.arguments|join(' ') }}</span>
                {% endif %}
            </td>
            <td>{{ job.priority }}</td>
            <td>{{ job.queue }}</td>
            <td>
                <p>{{ job.status }}</p>
                {% if job.isRetry %}
                    <p><small class="text-muted">Is retry of <a href="#{{ job.retryOf.id }}">#{{ job.retryOf.id }}</a></small></p>
                {% endif %}
                {% if job.isRetried %}
                    <p><small class="text-muted">Retried by <br /><a href="#{{ job.retriedBy.id }}">#{{ job.retriedBy.id }}</a> ({{ job.retriedBy.status }})</small></p>
                    {% if 0 < job.retriedJobs.count %}
                        <small class="text-muted">All retrying Jobs:</small>
                        {% set retriedJobs = {} %}
                        {% for retriedJob in job.retriedJobs %}
                            {% set linkedRetriedJob = '<a href="#' ~ retriedJob.id ~ '">#' ~ retriedJob.id ~ '</a> (' ~ retriedJob.status ~ ')' %}
                            {% set retriedJobs = retriedJobs|merge({ ('_' ~ retriedJob.id ~ '-'): linkedRetriedJob}) %}
                        {% endfor %}
                        <p><small class="text-muted">{{ retriedJobs|join(', ')|raw }}</small></p>
                    {% endif %}
                {% endif %}
                {% if job.firstRetriedJob %}
                    <p><small class="text-muted">First retried job:<br /><a href="#{{ job.firstRetriedJob.id }}">#{{ job.firstRetriedJob.id }} ({{ job.firstRetriedJob.status }})</a></small></p>
                {% endif %}
                {% if 'cancelled' == job.status %}
                    <p><small class="text-muted">{{ job.debug.cancellation_reason }}</small></p>
                {% endif %}
            </td>
            <td>
                {% if false == job.hasParentDependencies %}
                {% if false == job.isRetry %}No parent Jobs{% endif %}
                {% else %}
                    <p>Parent Jobs:</p>
                    {% set parentJobs = {} %}
                    {% for parentJob in job.parentDependencies %}
                        {% set linkedParentJob = '<a href="#' ~ parentJob.id ~ '">#' ~ parentJob.id ~ '</a> (' ~ parentJob.status ~ ')' %}
                        {% set parentJobs = parentJobs|merge({ ('_' ~ parentJob.id ~ '-'): linkedParentJob}) %}
                    {% endfor %}
                    <p>{{ parentJobs|join(', ')|raw }}</p>
                {% endif %}
                {% if false == job.isRetry %}<hr />{% endif %}
                {% if false == job.hasChildDependencies %}
                    No child Jobs
                {% else %}
                    <p>Child Jobs:</p>
                    {% set childJobs = {} %}
                    {% for childJob in job.childDependencies %}
                        {% set linkedChildJob = '<a href="#' ~ childJob.id ~ '">#' ~ childJob.id ~ '</a> (' ~ childJob.status ~ ')' %}
                        {% set childJobs = childJobs|merge({ ('_' ~ childJob.id ~ '-'): linkedChildJob}) %}
                    {% endfor %}
                    <p>{{ childJobs|join(', ')|raw }}</p>
                {% endif %}
            </td>
            <td>{% if job.createdAt %}{{ job.createdAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if job.executeAfterTime %}{{ job.createdAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if job.startedAt %}{{ job.startedAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if job.closedAt %}{{ job.closedAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{{ job.exitCode }}</td>
            <td>
                {% if job.retryStrategy.canRetry %}{{ job.retryStrategy.retryOn|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}
                <small class="text-muted">{{ job.retryStrategy.strategyName }}</small>
                <p>
                    <small>
                        Current attempt: {{ job.retryStrategy.attempts }}, Max attempts: {{ job.retryStrategy.maxAttempts }},
                        Increment by: {{ job.retryStrategy.incrementBy }} {{ job.retryStrategy.timeUnit }},
                        {% if 'exponential' == job.retryStrategy.strategyName %}Exponential base: {{ job.retryStrategy.exponentialBase }}, {% endif %}
                    </small>
                </p>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
