{% extends '::App/base.html.twig' %}

{% block title %}Ti senti sicuro ad acquistare on-line?{% endblock %}
{% block metaDescription %}TrustBack.me ti permette di conoscere la reputazione di un commerciante prima di comprare.{% endblock %}

{% block body %}
    <h1>Scheduled Jobs in the Queue</h1>
    <p><small><a href="{{ url('queues_test') }}">Generate 100 random jobs.</a></small></p>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Command</th>
            <th>Priority</th>
            <th>Queue</th>
            <th>Status</th>
            <th>Depends on other Jobs</th>
            <th>Created at</th>
            <th>Execute after time</th>
            <th>Started at</th>
            <th>Closed at</th>
            <th>Exit code</th>
        </thead>
    {% for job in jobs %}
        <tr>
            <td id="{{ job.id }}"><a href="{{ path('queues_job', {id: job.id}) }}">{{ job.id }}</a></td>
            <td>
                {{ job.command }}
                {% if job.arguments %}
                    <span class="text-muted">{{ job.arguments|join(' ') }}</span>
                {% endif %}
            </td>
            <td>{{ job.priority }}</td>
            <td>{{ job.queue }}</td>
            <td>{{ job.status }}</td>
            <td>
                {% if false == job.dependsOnOtherJobs %}
                No
                {% else %}
                    <ul>
                    {% for parentJob in job.parentDependencies %}
                        <li><a href="#{{ parentJob.id }}">{{ parentJob.id }}</a> ({{ parentJob.status }})</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>{% if job.createdAt %}{{ job.createdAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if job.executeAfterTime %}{{ job.createdAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if job.startedAt %}{{ job.startedAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if job.closedAt %}{{ job.closedAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{{ job.exitCode }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
