{% extends '::App/base.html.twig' %}

{% block title %}Manage scheduled Jobs{% endblock %}

{% block body %}
    <h1>Created Queues Daemons</h1>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>host</th>
            <th>pid</th>
            <th>Born on</th>
            <th>Died on</th>
            <th>Config</th>
        </thead>
    {% for daemon in daemons %}
        <tr>
            <td>{{ daemon.id }}</td>
            <td>{{ daemon.host }}</td>
            <td>{{ daemon.pid }}</td>
            <td>{% if daemon.bornOn %}{{ daemon.bornOn|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>{% if daemon.diedOn %}{{ daemon.diedOn|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</td>
            <td>
            <ul>
                <li>Name: <code>{{ daemon.config.name }}</code></li>
                <li>aliveDaemonsCheckInterval: <code>{{ daemon.config.aliveDaemonsCheckInterval }}</code></li>
                <li>idleTime: <code>{{ daemon.config.idleTime }}</code></li>
                <li>managedEntitiesTreshold: <code>{{ daemon.config.managedEntitiesTreshold }}</code></li>
                <li>maxRuntime: <code>{{ daemon.config.maxRuntime }}</code></li>
                <li>optimizationInterval: <code>{{ daemon.config.optimizationInterval }}</code></li>
                <li>profilingInfoInterval: <code>{{ daemon.config.profilingInfoInterval }}</code></li>
                <li>printProfilingInfo: <code>{{ daemon.config.printProfilingInfo }}</code></li>
                <li>
                    Queues:
                    {% set queues = daemon.config.queues %}
                    <ul>
                        {% for queues_key,queue in queues %}
                            <li>
                                <code>{{ queue }}</code>:
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
                <small>To read the queues configuration, on <code>development</code> enviroment, use the line below:</small><br />
                <code>{ dump(daemon.config) }</code>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
