{% extends '::App/base.html.twig' %}

{% block title %}Details of Job {{ job.id }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        {% set status = '' %}
                        {% if 'running' == job.status %}
                            {% set status = 'active' %}
                        {% endif %}
                        {% if 'retried' == job.status %}
                            {% set status = 'warning' %}
                        {% endif %}
                        {% if 'failed' == job.status or 'retry_failed' == job.status %}
                            {% set status = 'danger' %}
                        {% endif %}
                        {% if 'succeeded' == job.status or 'retry_succeeded' == job.status %}
                            {% set status = 'success' %}
                        {% endif %}
                        {% if 'cancelled' == job.status %}
                            {% set status = 'danger' %}
                        {% endif %}
                        {% if 'pending' == job.status or 'running' == job.status %}
                            {% set status = 'info' %}
                        {% endif %}
                        {% if 'new' == job.status %}
                            {% set status = 'default' %}
                        {% endif %}
                        <p><strong>#{{ job.id }}</strong> <span class="label label-{{ status }}">{{ job.status }}</span> <code>@{{ job.queue }}</code> (<code>{{ job.priority }}</code>)</p>
                        <pre>>: {{ job.command }}{% if job.arguments %} {{ job.arguments|join(' ') }}{% endif %}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        {% if job.isTypeRetrying %}
                            <p><small class="text-muted">Is retry of <a href="{{ path('queues_job', {'id': job.retryOf.id}) }}">#{{ job.retryOf.id }}</a></small></p>
                        {% endif %}
                        {% if job.isTypeRetried %}
                            <p><small class="text-muted">Retried by <br /><a href="{{ path('queues_job', {'id': job.retriedBy.id}) }}">#{{ job.retriedBy.id }}</a> ({{ job.retriedBy.status }})</small></p>
                            {% if 0 < job.retryingJobs.count %}
                                <small class="text-muted">All retrying Jobs:</small>
                                {% set retryingJobs = {} %}
                                {% for retryingJob in job.retryingJobs %}
                                    {% set linkedretryingJob = '<a href="' ~ path('queues_job', {'id': retryingJob.id}) ~ '">#' ~ retryingJob.id ~ '</a> (' ~ retryingJob.status ~ ')' %}
                                    {% set retryingJobs = retryingJobs|merge({ ('_' ~ retryingJob.id ~ '-'): linkedretryingJob}) %}
                                {% endfor %}
                                <p><small class="text-muted">{{ retryingJobs|join(', ')|raw }}</small></p>
                            {% endif %}
                        {% endif %}
                        {% if job.firstRetriedJob %}
                            <p><small class="text-muted">First retried job:<br /><a href="{{ path('queues_job', {'id': job.firstRetriedJob.id}) }}">#{{ job.firstRetriedJob.id }} ({{ job.firstRetriedJob.status }})</a></small></p>
                        {% endif %}
                        {% if 'cancelled' == job.status %}
                            <p><small class="text-muted">{{ job.debug.cancellation_reason }}</small></p>
                            <p><small class="text-muted">Cancelled by <a href="{{ path('queues_job', {'id': job.cancelledBy}) }}">#{{ job.cancelledBy }}</a></small></p>
                        {% endif %}
                        {% if false == job.hasParentDependencies %}
                            {% if false == job.isTypeRetrying %}No parent Jobs{% endif %}
                        {% else %}
                            <p>Parent Jobs:</p>
                            {% set parentJobs = {} %}
                            {% for parentJob in job.parentDependencies %}
                                {% set linkedParentJob = '<a href="' ~ path('queues_job', {'id': parentJob.id}) ~ '">#' ~ parentJob.id ~ '</a> (' ~ parentJob.status ~ ')' %}
                                {% set parentJobs = parentJobs|merge({ ('_' ~ parentJob.id ~ '-'): linkedParentJob}) %}
                            {% endfor %}
                            <p>{{ parentJobs|join(', ')|raw }}</p>
                        {% endif %}
                        {% if false == job.isTypeRetrying %}<hr />{% endif %}
                        {% if false == job.hasChildDependencies %}
                            No child Jobs
                        {% else %}
                            <p>Child Jobs:</p>
                            {% set childJobs = {} %}
                            {% for childJob in job.childDependencies %}
                                {% set linkedChildJob = '<a href="' ~ path('queues_job', {'id': childJob.id}) ~ '">#' ~ childJob.id ~ '</a> (' ~ childJob.status ~ ')' %}
                                {% set childJobs = childJobs|merge({ ('_' ~ childJob.id ~ '-'): linkedChildJob}) %}
                            {% endfor %}
                            <p>{{ childJobs|join(', ')|raw }}</p>
                        {% endif %}
                        <p>Created At: {% if job.createdAt %}{{ job.createdAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</p>
                        <p>Started At: {% if job.startedAt %}{{ job.startedAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</p>
                        <p>Closed at: {% if job.closedAt %}{{ job.closedAt|localizeddate("none", "none", locale, null, "cccc, d MMMM Y', ' hh:mm aaa") }}{% endif %}</p>
                        <p>Exit code: {{ job.exitCode }}</p>
                        <p>
                            Config:
                            <ul>
                            <li><code>exit_code_text</code>: {{ job.debug.exit_code_text }}</li>
                            <li><code>complete_command</code>: {{ job.debug.complete_command }}</li>
                            <li><code>input</code>: {{ job.debug.input }}</li>
                            <li><code>working_directory</code>: {{ job.debug.working_directory }}</li>
                            <li><code>enhanced_sigchild_compatibility</code>: {{ job.debug.enhanced_sigchild_compatibility }}</li>
                            <li><code>enhanced_windows_compatibility</code>: {{ job.debug.enhanced_windows_compatibility }}</li>
                            </ul>
                        <small>There are other info not displayed here as the full array should be traversed in the twig template. On development use the line below.</small><br />
                        <code>{ dump(job.debug) }</code>
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <pre>{{ job.output }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
